.chart{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 4px rgba(0,0,0,0.14);
    -webkit-box-shadow: -1px 1px 5px 4px rgba(0,0,0,0.14);
    -moz-box-shadow: -1px 1px 5px 4px rgba(0,0,0,0.14);
}

.chartTitle{
    margin-bottom: 20px;
}
